
html{
    font:normal 16px '微软雅黑','Microsoft YaHei',serif;
}
*{
    margin:0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
body{
    /*overflow-x: hidden;*/
}
html,body,.nav{
    width: 100%;
    height: 100%;
}
li{
    cursor: pointer;
}
/*下方页面整体居中用到wrapper，注意不要污染到wrapper*/

/*顶部导航*/
.nav{
    padding-top:1em;
    height: 35.375rem;
    width: 100%;
    position: relative;
    text-align: center;
}
.nav>.wrapper{
    position: absolute;
    top: 3.125rem;

    width: 100%;
    margin: 0 auto;

}
.nav>.header{
    width: 100%;
    height: 35.375rem;

}
.nav>.video{
    position: absolute;
    right: 0px;
    bottom: 0px;
    max-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    z-index: -99;
}
/* header中的盒子都浮动 */
.nav>.header::after{
    content: "";
    display: block;
    clear: both;
}
/*精灵图引入幸福里图标*/
.nav .header>div:first-child{
    position: absolute;
    top: 3.125rem;
    left: 3.125rem;
    background-image: url('../images/logo.png');
    background-size: cover;
    width: 7.8125rem;
    height: 2.125rem;
}
.header-center{
    position: absolute;
    top: 3.125rem;
    right: 15.625rem;
    padding-top: 0.7em;
    float: left;
}
.header-center::after{
    content: "";
    display: block;
    clear: both;
}
.header-center>li{
    float: left;
    font-size: 1em;
    position: relative;
    font-weight: bolder;
}
.header-center>li>a{
    padding:0 0.7em;
}
/*设置二级菜单*/
.header .header-center>li:hover>ul{
    display: block;
}
.header .header-center>li>ul{
    margin-top: 1em;
    line-height: 3em;
    background-color: #ffffff;
    color: #333;
    text-align: center;
    position: absolute;
    border: 0.0625rem solid #ededed;
    width: 100%;
    display: none;
}
/*header右部分*/
.header-right{
    position: absolute;
    top: 3.125rem;
    right: 5rem;
}
.header .header-right>div:first-child{
    background-image: url('../images/sprite.png');
    width: 1.6875rem;
    height: 1.6875rem;
    background-position: -4.5rem -2.125rem;
    float: left;
    margin-left: 2em;
    margin-top: 0.5em;
}
.header .header-right>div:last-child{
    color: #fff;
    font-weight: bolder;
    float: left;
    margin-left: 1em;
    margin-top: 0.8em;
}
/*导航中部*/
/*中部标题*/
.nav .wrapper{
    margin-top: 11.25rem;
}
.nav .wrapper .title{
    /*margin-top: 110px;*/
    text-align: left;
    color: #fff;
    font-size: 4.125rem;
    line-height: 4.25rem;
    font-weight: 600;
}
.nav .wrapper .title_big p{

  text-align: center;
}
.nav .wrapper .title_big .small{
    margin-top: 0.9375rem;
    font-size: 2.5rem;
}
/*中部搜索*/
.nav .wrapper .search{
    width: 37.5rem;
    position: relative;
}
.nav .wrapper .search {
    margin-top: 2.25rem;
    position: relative;
}
.nav .wrapper .menu{
    float: left;
    height: 2.5rem;
}
.nav .wrapper .menu>span{
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
    padding-left: 1.25rem;
    display: inline-block;
    cursor: pointer;
}
.nav .wrapper .search-clear{
    position: relative;
    clear: both;
}
/*中部搜索input框*/
.nav .wrapper .search-clear .box{
    background-color: #fff;
    border-radius: 0.25rem;
    height: 3.125rem;
    clear: both;
}
.nav .wrapper .search-clear .box>input{
    padding-left: 1.25rem;
    float: left;
    width: 23.75rem;
    height: 3.125rem;
    border: 0;
    border-radius: 0.25rem;
    font-size: 1rem;
}
/*input框右边内容*/
.nav .wrapper .search-clear .box>img{
    height: 1.6875rem;
    right: 8.125rem;
    top: 0.625rem;
    position: absolute;
    line-height: 2.8125rem;
    width: 1.6875rem;
    padding-left: 1.875rem;
    font-size: 1rem;
    color: #000;
    font-weight: 700;
}
.nav .wrapper .search-clear .box>span{
    position: absolute;
    top: 0.875rem;
    right: 5.625rem;
    font-weight: bolder;
    color: #666;
}
.nav .wrapper .search-clear .box>div{
    position: absolute;
    right: 0;
    width: 4.75rem;
    height: 3.125rem;
    float: right;
    border: 0;
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
    background-color: #3072F6;
}
.nav .wrapper .search-clear .box>div>i{
    position: absolute;
    right: 1.875rem;
    top: 0.875rem;
    background-image: url('../images/sprite.png');
    width: 1.1875rem;
    height: 1.1875rem;
    background-position: -6.125rem -2.125rem;

}
/*顶部导航结束*/
/*中部结构设置*/
.content-1,
.content-2,
.content-3,
.content-4,
.content-5{
    /*border: black 1px solid;*/
    padding: 2.5rem 1.5rem;
    /*margin-left: ;*/
    /*padding-top: 2em;*/
    /*padding-bottom: 5em;*/
}
.content-1 .wrapper>div:first-child,
.content-2 .wrapper>div:first-child,
.content-3 .wrapper>div:first-child,
.content-4 .wrapper>div:first-child,
.content-5 .wrapper>div:first-child{
    font-size: 2.25rem;
    line-height: 3.125rem;
    color: #101d37;
    font-weight: 600;
}
.content-1 .wrapper>p,
.content-2 .wrapper>p,
.content-3 .wrapper>p,
.content-4 .wrapper>p,
.content-5 .wrapper>p{
    color: #9399a5;
    width: 75rem;
    font-size: 1rem;
    line-height: 1.375rem;
}
.content-1 .wrapper>p>a,
.content-2 .wrapper>p>a,
.content-3 .wrapper>p>a,
.content-4 .wrapper>p>a,
.content-5 .wrapper>p>a{
    color: #3072f6;
    float: right;
    font-weight: 600;
}
.content-1 .wrapper>div:last-child,
.content-2 .wrapper>div:last-child,
.content-3 .wrapper>div:last-child,
.content-4 .wrapper>div:last-child,
.content-5 .wrapper>div:last-child{
    margin-top: 1.875rem;
}
.content-1 .wrapper .pic-1::after,
.content-2 .wrapper .pic-2::after,
.content-3 .wrapper .pic-3::after,
.content-4 .wrapper .pic-4::after,
.content-5 .wrapper .pic-5::after{
    content: "";
    display: block;
    clear: both;
}
.content-1 .wrapper .pic-1>li,
.content-2 .wrapper .pic-2>li,
.content-3 .wrapper .pic-3>li,
.content-4 .wrapper .pic-4>li,
.content-5 .wrapper .pic-5>li{
    border-radius: 0.5rem;
    width: 17.8125rem;
    height: 25.625rem;
    float: left;
    background-color: #fff;
    margin-right: 1.25rem;
}
.content-1 .wrapper .pic-1>li:last-child,
.content-2 .wrapper .pic-2>li:last-child,
.content-3 .wrapper .pic-3>li:last-child,
.content-4 .wrapper .pic-4>li:last-child,
.content-5 .wrapper .pic-5>li:last-child{
    margin-right: 0;
}
.content-2 .wrapper .pic-2>li{
    width: 23.75rem;
    height: 26.875rem;
}
.content-3 .wrapper .pic-3>li{
    width: 23.75rem;
    height: 22.5rem;
}
.content-5 .wrapper .pic-5>li{
    width: 17.8125rem;
    height: 25.625rem;
}
.content-5 .wrapper{
    border-bottom: 0.0625rem solid #d9d6d6;
    padding-bottom: 4em;
}
.content-1 .pic-1 div:first-child,
.content-2 .pic-2 div:first-child,
.content-3 .pic-3 div:first-child,
.content-4 .pic-4 div:first-child,
.content-5 .pic-5 div:first-child{
    width: 100%;
    margin-bottom: 2.5rem;
}
/*二手好房区域图片文字布局*/
.content-1 .pic-1 div:first-child>img{
    border-radius: 0.3125rem;
}
.detials-1{
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: #222;
}
.detials-1 .info-1{
    height: 1.25rem;
    margin-top: 0.625rem;
    font-size: 0.75rem;
    color: #616669;
    line-height: 1rem;
}
.detials-1 .info-1 span:last-child{
    margin-left:8.125rem;
    font-size: 1rem;
    color: #fa5741;
}
/*二手好房区域图片文字布局结束*/
/*小区精选区域图片文字布局*/
.content-2 .pic-2 div:first-child>img{
    border-radius: 0.3125rem;
}
.detials-2{
    overflow: hidden;
}
.detials-2 span:first-child{
    font-size: 1.125rem;
    line-height: 1.5625rem;
    color: #101d37;
    font-weight: 600;
    float: left;
    height: 1.5625rem;
}
.detials-2 span:last-child{
    color: #fa5741;
    font-size: 1rem;
    line-height: 1.5625rem;
    float: right;
    font-weight: 600;
}
.pic-2 li>span{
    color: #9399a5;
    font-size: 0.75rem;
    line-height: 1.25rem;
}
/*小区精选区域图片文字布局结束*/
/*优选新房区域文字图片布局*/
.content-3 .pic-3 li>img{
    border-radius: 0.3125rem;
}
/*优选新房区域文字图片布局结束*/
/*品质租房区域图片文字布局*/
.content-4 .pic-4 div:first-child>img{
    border-radius: 0.3125rem;
}
.detials-4>p{
    font-size: 1.125rem;
    color: #101d37;
    line-height: 1.5625rem;
    height: 3.125rem;
    font-weight: 600;
}
.pic-4 .tips::after{
    content: "";
    display: block;
    clear: both;
}
.pic-4 .tips>div:first-child{
    float: left;
    color: #9399a5;
    font-size: 0.75rem;
    margin: 0;
}
.pic-4 .tips>div:last-child{
    float: right;
    color: #fa5741;
    font-size: 1rem;
    font-weight: 600;
}
/*品质租房区域图片文字布局结束*/
/*海外房产区域图片文字布局*/
.content-5 .pic-5 div:first-child>img{
    border-radius: 0.3125rem;
}
.content-5 .pic-5 div:last-child>p:first-child{
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: #767676;
}
.content-5 .pic-5 div:last-child>p:nth-child(2){
    font-size: 1.125rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #222;
    font-weight: 600;
}
.content-5 .pic-5 div:last-child>p:last-child{
    font-size: 0.75rem;
    color: #222;
}
/*海外房产区域图片文字布局结束*/
/*中部内容结束*/
/*尾部内容*/
.footer .wrapper .f-title {
    font-size: 1rem;
    font-weight: 600;
}
.footer .f-title .f1 li{
    float: left;
    padding: 0 1.5625rem;
    line-height: 3.375rem;
    border: 0.0625rem solid #d9d6d6;
    border-radius: 0.3125rem;
    margin-bottom: 1.25rem;
    margin-right: 1.25rem;
}
.footer .f-title .f1 li>a{
    font-weight: 700;
    color: #222;
}
.footer .f-title .f1 .f2{
    color: #3072f6;
    float: right;
    margin-left: 1.25rem;
}
.footer .f-content{
    width: 75rem;
    float: left;
}
.footer .f-content .tab{
    overflow: hidden;
}
.footer .f-content .tab span{
    color: #707787;
    float: left;
    margin:0 1.25rem 0.75rem 0;
    cursor: pointer;
    font-size: 0.875rem;
}
.footer .f-content .link{
    min-height: 4.625rem;
}
.footer .f-content .link a{
    color: #b7bbc3;
    font-size: 0.875rem;
    margin: 0 0.625rem 0.625rem 0;
}
.footer .f-logo ul{
    content: "";
    display: block;
    clear: both;
}
.footer .f-logo li{
    margin:0 2.5rem 1.25rem 0;
    float: left;
}
.footer .f-logo img{
    display: block;
    height: 2.5rem;
}
.footer .f-image{
    color: #b7bbc3;
    margin-top: 3em;
    font-size: 0.875rem;
    float: left;
}
/*尾部内容结束*/
